body{
    display: flex;
    justify-content: center;
    background-color: rgb(78, 111, 152);
    padding: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profile-photo{
    background-color: rgb(43, 104, 150);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: antiquewhite;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 330px;
    align-items: center;
}

.image{
    border-radius: 100px;
    border-style: dotted;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
}

.heading{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}